.AlbumCard {
  align-items: center;
  background: linear-gradient(#a52a2a2c 50%, #ad219a8b 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 10px;
  width: 250px;
}

.imgAlbumCardArea {
  align-items: center;
  display: flex;
  height: 60%;
  justify-content: center;
  margin-top: 10px;
}

.textAlbumCardArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: left;
  width: 80%;
}

.AlbumCardName {
  font-size: 60%;
  height: 60%;
  margin: 10px 10px 0;
  text-align: left;
  width: 100%;
}

.ArtistName {
  font-size: 10px;
  height: 20%;
  margin: 0 10px 10px;
  text-align: left;
  width: 100%;
}

.AlbumCard:hover {
  background: linear-gradient(#ad219a8b 50%, #a52a2a2c 100%);
  box-shadow: 0 0 10px 2px rgba(126, 0, 115, 0.699);
  color: white;
  scale: 104%;
  transition: 500ms;
}
